@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



.slogan {
    font-family: 'Playfair Display', serif;
    font-style: italic;
  }


input{
    float: right;
    width: 300px;
    border: 3px solid lightblue;
    border-radius: 15px;
}