<div class="container">
  <div>
    <input style="float: left;" type="text" [(ngModel)]="searchText" placeholder="Search errors...">
    <!-- <div style="float: right;">
    <label for="console">Console</label>
    <input name="page" type="radio"/>
    </div>
    <div style="float: right;">
    <label for="log">Log</label>
    <input name="page" type="radio"/>
    </div> -->
  </div>
    <table class="table-bordered table-responsive">
      <thead class="table-header">
        <tr>
          <th>ID</th>
          <th>Time Stamp</th>
          <th>Exception Type</th>
          <!-- <th>Error Message</th> -->
          <th>Error Type</th>
          <th>Line Number</th>
          <th>File Name</th>
          <th>Error Searched Through</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let error of filterErrors()">
          <td>{{ error.id }}</td>
          <td>{{ error.timestamp }}</td>
          <td>{{ error.exceptionType }}</td>
          <!-- <td>{{ error.errorMessage }}</td> -->
          <td>{{ error.errorType }}</td>
          <td>{{ error.lineNumber }}</td>
          <td>{{ error.fileName }}</td>
          <td>{{ error.errortype }}</td>
          <td>
            <button class="view-stack-btn" (click)="openStackTraceModal(error)">
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Custom Modal -->
  <div class="modal" id="stackTraceModal" [class.show]="isModalOpen">
    <div class="modal-overlay" (click)="closeModal()"></div>
    <div class="modal-container">
      <div class="modal-header">
        <h3>Stack Trace Details</h3>
        <button class="close-btn" (click)="closeModal()">×</button>
      </div>
      <div class="modal-body">
        <pre>{{ selectedStackTrace.length == 0? "No stackTrace": selectedStackTrace }}</pre>
      </div>
      <div class="modal-footer">
        <button class="btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>