<div id="outerlayer">
    <div id="design">
        
        
        <div class="card">
            <button (click)="goBack()" class="back-btn">
                <i class="fa fa-arrow-left"></i> Back
            </button>
            <h1 id="title">{{errorData.title}}</h1>
            <div class="card-content">
                <h2>Category:</h2>
                <p id="category">{{errorData.category}}</p>

                <h2>How to fix:</h2>
                <p id="fix">{{errorData.howToFix}}</p>
            </div>
            
            <div class="example">
                <h2>Example:</h2>
                <div class="exampledata">
                    <h3>Before Example:</h3>
                    <p id="beforeExample">{{errorData.beforeExample}}</p>

                    <h3>After Example:</h3>
                    <p id="afterExample">{{errorData.afterExample}}</p>
                </div>
            </div>

            <div class="card-footer">
                <h2>Notes:</h2>
                <p id="notes">{{errorData.notes}}</p>
            </div>
        </div>
    </div>
</div>
