<div style="margin-left: 150px;margin-top: 25px;">
<div>
    <span style="display: block;margin-bottom: 0px;" class="log-header">LOG</span>
    <span class="slogan">Drowning in logs? Drop your log file here — we’ll untangle the chaos and highlight what really matters.</span>
</div>

<div style="margin-top: 10px;margin-left: 50px;">
<div style="">
    <p class="log-header" style="font-size: 25px;">Upload your log file here</p>
</div>

<div >
    <div class="mt-4">
        <form (submit)="onSubmit()" class="d-flex align-items-center ">
          <!-- Hidden file input -->
          <input
            type="file"
            id="fileInput"
            (change)="onFileChange($event)"
            style="display: none;"
          />
      
          <!-- Styled input field with attach icon -->
          <div class="input-group" style="width:450px;">
            <label for="fileInput" class="input-group-text" style="cursor: pointer;font-size: 25px;">
              📎
            </label>
            <input
              type="text"
              class="form-control"
              [value]="selectedFile?.name || ''"
              placeholder="Attach File"
              style="background-color: #F0F6FF;padding: 10px;"
              readonly
            />
          </div>
      
          <!-- Upload Button -->
          <button type="submit" class="btn" style="background-color:#1E1E2F;color:#E0E7FF;padding: 12px;">
            Attach File
          </button>
        </form>
        <p style="color:rgba(47, 93, 159, 0.8);font-size: 16px;margin-left: 2px;" >Accepted formats: .log | Max size: 5MB.</p>
        <div>
        <button class="btn" (click)="saveAndAnalyse()" style="color:#E0E7FF;background-color:#1E1E2F;margin-left:14%">Save & Analyze</button>
        </div>
      </div>
      
</div>
<div *ngIf="showTable && fileup">
<div class="mt-4" >
    <div class="table-responsive">
        <table class="table ">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Timestamp</th>
                    <th>Level</th>
                    <th>Thread</th>
                    <th>Exception Name</th>
                    <th>Error Message</th>
                    <th>Stack Trace</th>
                </tr>
            </thead>
            <tbody class="tbody-color">
                <tr *ngFor="let data of logData;let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ data.timestamp }}</td>
                    <td>{{ data.level }}</td>
                    <td>{{ data.thread }}</td>
                    <td>{{ data.exceptionName }}</td>
                    <td>{{ data.errorMessage }}</td>
                    <td>
                        <button type="button" (click)="openDialog(data.stackTrace)" class="btn btn-primary" style="background-color:#1e1e2f;">
                            View
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>
