/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;background-color: #F7F9FC; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Make sure this overrides Bootstrap */
table.table.table-striped tbody tr:nth-child(odd) {
    background-color: green !important;
  }
  
  table.table.table-striped tbody tr:nth-child(even) {
    background-color: yellow !important;
  }
  
/* styles.css */
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#splash-screen img {
  width: 100px;
  height: auto;
}

/* styles.css */
#splash-screen.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
