<div class="container activity-wrapper">
    <div class="row">
        <div class="col-8">
    <p class="home-header">Recent Activity</p>
    <div class="recent-activity-container">
  <div></div>
      <div class="activity-row" *ngIf="lastLoggedConsole.length > 0">
        <mat-icon>code_blocks</mat-icon>
        <div class="console-circle"></div>
        <span>{{lastLoggedConsole}}</span>
      </div>
  
      <div class="activity-row" *ngIf="logFileName.length > 0">        
        <mat-icon>description</mat-icon>
        <div class="console-circle"></div>
        <span>{{logFileName}}</span>
      </div>
  
      <div class="activity-row">
        <mat-icon>menu_book</mat-icon>
        <div class="repo-circle"></div>
        <span>New Logical Error</span>
      </div>  
    </div>
    <div>
        <br>
        <p class="home-header">Get Started Quickly</p>
        <div class="slogan" routerLink="/console" >
            <span>Facing issues understanding your error? Paste it here.</span>
        </div>
        <div class="slogan" routerLink="/log">
            <span>Got a bunch of errors in a file? Feed it to me!</span>
        </div>
        <div class="slogan" routerLink="/repo">
            <span>Ready to build your error library? Add it here.</span>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
    <div class="col-2">
        <div class="box box1" >
            <p>Console Snippet Shared</p>
            <span>{{totalConsoleSearches}}</span>
        </div>
        <div class="box box2">
            <p>Log Uploads</p>
            <span>{{logUpLoads.length == 0? "0":logUpLoads}}</span>
        </div>
        <div class="box box3">
            <p>Errors in Repo</p>
            <span>{{totalRepoList}}</span>
        </div>
    </div>
    </div>
  </div>
  